@import '~font-awesome/css/font-awesome.css';

$easing: ease;

$background-color: #ffffff;
$background: $background-color;
$color: #000000;
$color2: #818181; // rgba(255,255,255,0.5);
$link-color: #0004ff;
$link-visited-color: $link-color;
$error: #ff2323;

$container: 800px;

@import './transition';

// Fontawesome rules
.fa.head {
  margin-right: 8px;
  font-size: 1.3em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
  }
}
h4,
h5,
h6,
p {
  letter-spacing: 0.5px;
}
h1 {
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 6px;
}
h3 {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 3px;
}
p {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 24px;
}

.help {
  position: absolute;
  top: 100%;
  left: 0;
  color: $color2;
  font-size: 80% !important;
  padding-top: 8px;
  margin: 0 !important;
  // overflow-y: visible;
}

.error {
  color: $error;
  padding: 24px;
}

.item-date {
  font-weight: 500;
}

.item-title :first-child {
  font-weight: 700;
  margin-right: 4px;
}

.item-title :nth-child(2) {
  font-weight: 500;
}

.item-title :nth-child(2):before {
  content: '| ';
}

.vertical-margin {
  padding: 0.5in 0;
}
.item {
  margin-top: 32px;
}
.item:first-child {
  margin-top: 0;
}

a {
  color: inherit;
}
a:not(:hover) {
  text-decoration: none;
}
.pad-horizontal {
  padding: 0 0.5in;
}
.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: row;
  flex-basis: $container;
  max-width: $container;
  justify-content: space-between;
  margin: 0 20px;
}

.layers {
  & > * {
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 99.999vh;
  }
  img {
    object-fit: cover;
  }
}

.nav {
  text-align: center;
  display: flex;
  flex: 1;
  ul {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    li {
      display: flex;
      a {
        pointer-events: all;
        text-decoration: none;
        color: $color;
        padding: 16px 0;
        transition: box-shadow 0.3s $easing;
        h3 {
          font-weight: 700;
        }
        &:hover,
        &.active {
          box-shadow: inset 0 4px 0 0 $color;
        }
      }
    }
  }
}

.flex-table {
  display: flex;
  flex-direction: column;
  p {
    display: flex;
  }
  span:first-child {
    display: flex;
    font-weight: 600;
    min-width: 180px;
    flex-basis: 180px;
  }
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html,
body,
#root,
.wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  height: 99.999vh;
  width: 100%;
  // overflow: hidden;
  color: $color;
}

.wrapper {
  background: $background;
  position: relative;
  & > * {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.text-center {
  text-align: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.main {
  position: relative;
  display: flex;
  flex: 1;
  height: 100%;
}

.main-inner {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  // padding-top: 72px;
}

.topbar {
  width: auto;
  margin: 0 20px; // make room for scrollbar to appear HACK
  background: linear-gradient(
    0deg,
    transparent,
    $background-color 60%,
    $background-color 100%
  );
  height: 100px;
  pointer-events: none;
}

.content {
  margin-bottom: 3rem;
  &,
  p {
    font-size: 18px;
  }
  h1 {
    padding: 1em 0;
    font-size: 36px;
  }
  h2,
  h3,
  p,
  .image {
    margin-bottom: 24px;
  }
  a {
    color: $link-color;
    &:visited {
      color: $link-visited-color;
    }
  }
  .image {
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 56.25%; // img-height / img-width * 100%
  }
  & > :last-child {
    margin-bottom: 0;
  }
}

.page {
  flex: 1;
  flex-direction: column;
  flex-basis: $container;
  max-width: $container;
  padding: 72px 20px 0 20px;
  clear: both;
  & > :last-child {
    margin-bottom: 72px;
  }
}

.box-link {
  font-weight: bold;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: $color !important;
  transition: color 0.5s;
  border: 1px solid $color;
  position: relative;
  padding: 16px;

  background-repeat: no-repeat;
  background-size: 0 0;

  flex-basis: calc(100% / 3 - 2rem);
  height: 200px;
  margin: 1rem;

  &:before {
    z-index: -1;
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: transparent;
    background-size: cover;
    background-image: inherit;
    transition: opacity 0.5s, background-color 0.5s;
  }
  &:hover {
    cursor: pointer;
    color: transparent !important;
    &:before {
      opacity: 1;
      background-color: $color;
    }
  }
}

.box-list {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -1rem 0 -1rem;
}

.goBack {
  outline: none;
  user-select: none;
  text-decoration: none;
  font-size: 3rem;
  cursor: pointer;
  color: $color !important;
  transition: margin-left 0.3s $easing;
  &:hover {
    margin-left: -5px;
  }
}

.shadowed {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

// Add to any element to overlay a spinner
.loading::before {
  $size: 40px;
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: $size;
  height: $size;
  margin-top: -$size/2;
  margin-left: -$size/2;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 512px) {
  .box-link {
    flex-basis: 100%;
    height: 150px;
  }

  .topbar {
    margin: 0;
  }

  .flex-table span:first-child {
    min-width: 100px;
    flex-basis: 100px;
  }

  .pad-horizontal {
    padding: 0 16px;
  }

  .nav h3 {
    letter-spacing: 1px;
  }
}
