.pagefade-appear,
.pagefade-enter {
  opacity: 0;
}

.pagefade-appear-active,
.pagefade-enter-active {
  transition: opacity 0.375s $easing;
  opacity: 1;
}

.pagefade-exit {
  transition: opacity 0.375s $easing;
  opacity: 1;
}

.pagefade-exit-active {
  opacity: 0;
}
