@use "sass:math";

$easing: ease;

$background-color: #ffffff;
$background: $background-color;
$color: #000000;
$color2: #818181; // rgba(255,255,255,0.5);
$link-color: #0004ff;
$link-visited-color: $link-color;
$error: #ff2323;

$container: 800px;

@import './transition';
@import './resume';

// TODO: dotted background
/*html,
body,
#__next,
.wrapper,
main {
  height: 100%;
}

.wrapper::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  //z-index: -1;

  transition: opacity 2s ease;
  background-image: radial-gradient(#cecece 1px, transparent 0);
  background-size: 34px 34px;
  background-position: -16px -16px;
}
.wrapper.index-page::before {
  opacity: 1;
}*/

// credit to FontAwesome:
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.icon-head {
  margin-right: 8px;
  font-size: 1.3rem;
  vertical-align: bottom;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
  }
}
h4,
h5,
h6,
p {
  letter-spacing: 0.5px;
}
h1 {
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 6px;
}
h2 {
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 6px;
}
h3 {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 3px;
}
p {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 24px;
}
li {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 24px;

  &::marker {
    content: '• ';
  }
}
ul,
ol {
  margin: 0;
  padding-left: 14px;
}

.resume-title {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.help {
  // position: absolute;
  // top: 100%;
  // left: 0;
  color: $color2;
  font-size: 80% !important;
  padding-top: 8px;
  margin: 0 !important;
  // overflow-y: visible;
}

.error {
  color: $error;
  padding: 24px;
}

.item-date {
  font-weight: 600;
}

.item-title :first-child {
  font-weight: 700;
  margin-right: 4px;
}

.item-title :nth-child(2) {
  font-weight: 600;
}

.item-title :nth-child(2):before {
  content: '| ';
}

.vertical-margin {
  padding: 0.5in 0;
}
.item {
  margin-top: 24px;
}
.item:first-child {
  margin-top: 0;
}

a {
  color: inherit;
}
a:not(:hover) {
  text-decoration: none;
}
.pad-horizontal {
  padding: 0 0.25in;
}

.container {
  display: flex;
  flex-direction: row;
  flex-basis: $container;
  max-width: $container;
  justify-content: space-between;
  margin: 0 20px;
}

.layers {
  & > * {
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 99.999vh;
  }
  img {
    object-fit: cover;
  }
}

.nav {
  text-align: center;
  display: flex;
  flex: 1;
  ul {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    li {
      display: flex;
      list-style: none;
      a {
        pointer-events: all;
        text-decoration: none;
        color: $color;
        padding: 16px 0;
        transition: box-shadow 0.3s $easing;

        font-weight: 700;
        font-size: 18px;
        letter-spacing: 3px;

        &:hover,
        &.active {
          box-shadow: inset 0 4px 0 0 $color;
        }
      }
    }
  }
}

dl.expertise-table {
  @extend p;
  display: block;
  dt {
    display: inline-block;
    font-weight: 600;
    min-width: 180px;
    white-space: nowrap;
  }
  dd {
    display: inline-block;
    margin: 0;
    white-space: nowrap;
  }
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html,
body,
#__next,
.wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  color: $color;
}

.wrapper {
  display: flex;
  flex: 1;
  background: $background;
  position: relative;
  & > * {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.text-center {
  text-align: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.main {
  position: relative;
  display: flex;
  flex: 1;
  height: 100%;
}

.main-inner {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  // padding-top: 72px;
}

.topbar {
  width: auto;
  margin: 0 20px; // make room for scrollbar to appear HACK
  background: linear-gradient(
    0deg,
    transparent,
    $background-color 60%,
    $background-color 100%
  );
  height: 100px;
  pointer-events: none;
}

.content {
  margin-bottom: 3rem;
  &,
  p {
    font-size: 18px;
  }
  h1 {
    padding: 1em 0;
    font-size: 36px;
  }
  h2,
  h3,
  p,
  .image {
    margin-bottom: 24px;
  }
  a {
    color: $link-color;
    &:visited {
      color: $link-visited-color;
    }
  }
  & > :last-child {
    margin-bottom: 0;
  }
}

.page {
  flex: 1;
  flex-direction: column;
  flex-basis: $container;
  max-width: $container;
  padding: 72px 20px 0 20px;
  clear: both;
  & > :last-child {
    margin-bottom: 72px;
  }
}

.box-link {
  display: flex;

  font-weight: bold;
  box-sizing: border-box;

  transition: color 0.5s;
  border: 1px solid $color;
  position: relative;

  flex-basis: calc(100% / 3 - 2rem);
  height: 200px;
  margin: 1rem;

  & > div {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s, background-color 0.5s;

    pointer-events: none;
  }

  a {
    position: relative;

    flex: 1;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    text-decoration: none;
    color: $color;

    opacity: 1;
    transition: opacity 0.5s, background-color 0.5s;

    padding: 16px;
  }

  &:hover {
    a {
      opacity: 0;
    }
    & > div {
      opacity: 1;
    }
  }
}

.box-list {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -1rem 0 -1rem;
}

.goBack {
  outline: none;
  user-select: none;
  text-decoration: none;
  font-size: 3rem;
  cursor: pointer;
  color: $color !important;
  transition: margin-left 0.3s $easing;
  &:hover {
    margin-left: -5px;
  }
}

.shadowed {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

// Add to any element to overlay a spinner
.loading::before {
  $size: 40px;
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: $size;
  height: $size;
  margin-top: math.div(-$size, 2);
  margin-left: math.div(-$size, 2);
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 512px) {
  .box-link {
    flex-basis: 100%;
    height: 150px;
  }

  .topbar {
    margin: 0;
  }

  .flex-table span:first-child {
    min-width: 100px;
    flex-basis: 100px;
  }

  .pad-horizontal {
    padding: 0 16px;
  }

  .nav a {
    letter-spacing: 1px;
  }
}
