@use "sass:math";

$gap: 0.25in;

@page {
  margin: $gap;
  size: letter portrait;
}

#resume-root {
  display: block;

  margin: 0 auto;
  padding: $gap;
  width: 8.5in;

  @media print {
    margin: 0;
    padding: 0;
    width: auto;
  }

  h1 {
    margin: 0;
  }

  p,
  li,
  dl {
    // tweak these values to make the content fit on 1 page:
    font-size: 13px;
    line-height: 22px;
  }

  .center-text {
    text-align: center;
  }

  .vertical-margin {
    padding: 0;
    margin: ($gap - 0.1) 0 $gap 0;
  }

  .text-hr {
    border-bottom: 1px solid lightgrey;
    width: auto;
    text-align: center;
    padding: 0;
    height: 0;
    width: 100%;
    padding: 0 0 10px 0;
    overflow: visible;
    > * {
      background-color: white;
      padding: 0 math.div($gap, 2);
    }
  }

  .pdf-columns {
    display: table;
    width: 100%;
    .column {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .logo {
    margin: 0 12px;
    width: 70px;
    height: 70px;
    position: relative;

    * {
      position: absolute;
      font-weight: 400;
      font-size: 28px;
      line-height: 23px;
    }

    :first-child {
      top: 0;
      left: -4px;
    }

    :last-child {
      bottom: 0;
      right: 2px;
    }

    &:before {
      content: '';
      width: 2px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      stroke-linecap: round;
      border-right: 2px inset #b6b6b6;
      transform-origin: 0 0;
      transform: skewX(-45deg);
    }
  }

  .contact-link {
    // font-weight: 400;
    font-size: 12px;
  }

  // .column-divider {
  //   // border-left: 1px solid lightgrey;
  //   margin: 0 $gap;
  // }
}
