@use "sass:math";

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
// @import './style.scss';

@page {
  margin: 0;
}

// html,
// body,
// #__next {
//   display: block;
//   // TEMP
//   // font-family: 'Montserrat';
// }

$gap: 0.25in;
#resume-root {
  display: block;
  margin: 0 auto;
  display: block;
  width: 8.5in;
  // height: 11in; TODO: make content fit on one page?
  padding: $gap;
}

@media print {
  #resume-root {
    margin: 0;
  }
}

#resume-root h1 {
  margin: 0;
}

.pad-horizontal {
  padding: 0 $gap;
}

.center-text {
  text-align: center;
}

#resume-root .vertical-margin {
  padding: 0;
  // margin: $gap+0.1 0 ($gap + 0.2) 0;
  margin: $gap 0 ($gap + 0.1) 0;
}

#resume-root .text-hr {
  border-bottom: 1px solid lightgrey;
  width: auto;
  text-align: center;
  padding: 0;
  height: 0;
  width: 100%;
  padding: 0 0 8px 0;
  overflow: visible;
  > * {
    background-color: white;
    padding: 0 math.div($gap, 2);
  }
}

.logo {
  margin: 0 37px;
  width: 70px;
  height: 70px;
  position: relative;

  * {
    position: absolute;
    font-weight: 400;
    font-size: 28px;
    line-height: 23px;
  }

  :first-child {
    top: 0;
    left: -4px;
  }

  :last-child {
    bottom: 0;
    right: 2px;
  }

  &:before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    stroke-linecap: round;
    border-right: 2px inset black;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    transform: skewX(-45deg);
  }
}

.contact-link {
  font-weight: 500;
  font-size: 12px;
}

.column-divider {
  // border-left: 1px solid lightgrey;
  margin: 0 $gap;
}
